@import url('https://fonts.googleapis.com/css2?family=Aldrich&display=swap');

*{
    box-sizing: border-box;
    font-family: 'SUIT', sans-serif;
}

:root {
    --fn-ald: "Aldrich", sans-serif;
    --grey-50: #f3f5f6;
    --grey-100: #dbdee2;
    --grey-200: #cacfd4;
    --grey-300: #b1b9c1;
    --grey-400: #a2abb5;
    --grey-500: #8b96a2;
    --grey-600: #7e8993;
    --grey-700: #636b73;
    --grey-800: #4c5359;
    --grey-900: #3a3f44;
    --navy-color: #171C61;
    --gold-color: #A48B78;
    --validation-green: rgb(19, 112, 85);
    --validation-red: rgb(187, 16, 25);
}

body {
    position: relative;
    font-family: 'SUIT', sans-serif;
    color: #000;
}

body.no-scroll {
    overflow: hidden;
}

button {
    font-family: 'SUIT', sans-serif;
}

textarea {
    font-family: 'SUIT', sans-serif;
    width: 100%;
    padding: 24px 12px;
    color: #000;
    font-size: 18px;
    font-weight: 500;
    line-height: 100%;
    border: 0;
    border-bottom: 1px solid var(--grey-100);
    box-sizing: border-box;
    height : 138px;
    resize : none;
}

.blind {
    width: 0;
    height: 0;
    text-indent: -9999px;
    padding: 0;
    margin: 0;
    visibility: hidden;
}

.none {
    display: none;
}


.validation-msg {
    padding-top: 7px;
    padding-left: 10px;
    font-family: 'SUIT', sans-serif;
    letter-spacing: -0.5px;
    font-weight: 500;
}

.text-green {
    color: var(--validation-green);
}

.text-red {
    color: var(--validation-red);
}

.mt80 {
    margin-top: 80px;
}

.mt40 {
    margin-top: 40px;
}

.mb {
    display: none;
}

@media all and (max-width : 1024px) {
    .pc {
        display: none;
    }

    .mb {
        display: block;
    }
}

/* button */
.blueButton {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 56px;
    background: var(--navy-color);
    color: #fff;
    font-size: 14px;
    font-weight: 700;
    line-height: 170%;
    /* 23.8px */
    letter-spacing: -0.7px;
}

.blueButton:hover {
    background: #10144c;
}

.blueButton.dot::before {
    content: "";
    display: inline-block;
    position: absolute;
    right: -5px;
    top: 50%;
    transform: translateY(-50%);
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #fff;
}

.blueButton.dot::after {
    content: "";
    display: inline-block;
    position: absolute;
    left: -5px;
    top: 50%;
    transform: translateY(-50%);
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #fff;
}

.linkButton {
    display: flex;
    align-items: center;
    column-gap: 10px;
    padding: 16px 0 16px 32px;
    font-size: 18px;
    font-weight: 500;
    line-height: 130%;
    /* 23.4px */
    letter-spacing: -0.9px;
}

.linkButton.blk {
    border: 1px solid #000;
    width: 143px;
}

.linkButton.wt {
    width: 176px;
    border: 1px solid #fff;
    background: rgba(0, 0, 0, 0.70);
    color: #fff;
}
@media all and (max-width : 1024px) {
    .linkButton {
        font-size: 14px;
        padding: 14px 0 14px 32px;
    }

    .linkButton.blk {
        width: 125px;
    }

    .linkButton.wt {
        width: 151px;
    }

    .linkButton img {
        width: 20px;
    }
}

.fullButtonContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 20px;
    width: 100%;
}

.fullButtonContainer a, .fullButtonContainer button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 56px;
    /* color: #FFF; */
    font-size: 14px;
    font-weight: 700;
    line-height: 170%;
    /* 23.8px */
    letter-spacing: -0.7px;
    /* background-color: var(--navy-color); */
}

.fullButtonContainer a.bl, .fullButtonContainer button.bl {
    color: #FFF;
    background-color: var(--navy-color);
    cursor: pointer;
}

.fullButtonContainer a.wt, .fullButtonContainer button.wt {
    border: 1px solid var(--grey-100);
    background: #FFF;
}

.fullButtonContainer a.bl:hover, .fullButtonContainer button.bl:hover {
    background-color: #0f1240;
}

.fullButtonContainer a.wt:hover, .fullButtonContainer button.wt:hover {
    background-color: var(--grey-50);
}

.fullButtonContainer a.wt.normal {
    width: 206px;
    font-weight: 500;
}

.fullButtonContainer button.go-rental {
    width: 206px;
    font-weight: 500;
    cursor : ponter;
}
.fullButtonContainer a.gd.normal {
    width: 206px;
    font-weight: 500;
    background-color: var(--gold-color);
    color: #fff;
}

.fullButtonContainer a.wt.view {
    max-width: 363px;
    font-weight: 500;
}

.fullButtonContainer a.wt.booking {
    width: 425px;
    font-weight: 500;
}

.fullButtonContainer.my {
    margin-bottom: 80px;
}
.fullButtonContainer.find {
    margin-bottom: 0;
}

.fullButtonContainer.bag {
    padding-bottom: 20px;

}

.fullButtonContainer.edu {
    display: flex;
    justify-content: center;
    flex-direction: row;
    column-gap: 20px;

}
@media all and (max-width : 768px) {
    .fullButtonContainer a.wt.booking {
        width: 100%;
    }
}


/* container */
.inputContainer {
    width: 100%;
}

.inputContainer.login {
    display: flex;
    flex-direction: column;
    row-gap: 16px;
    width: 100%;
}

/* inputs */
input {
    box-sizing: border-box;
    font-family: var(--fn-suit);
}

.inputCaption {
    margin-bottom: 8px;
    color: #000;
    font-size: 18px;
    font-weight: 700;
    line-height: 100%;
    /* 18px */
    letter-spacing: -0.9px;
}

input[type=text],
input[type=password] {
    width: 100%;
    padding: 24px 12px;
    color: #000;
    font-family: 'SUIT', sans-serif;
    font-size: 18px;
    font-weight: 500;
    line-height: 100%;
    /* 18px */
    border: 0;
    border-bottom: 1px solid var(--grey-100);
    box-sizing: border-box;
}

input[type=text]::placeholder,
input[type=password]::placeholder {
    color: var(--grey-500);
    font-family: var(--fn-suit);
    font-size: 18px;
    font-weight: 500;
    line-height: 100%;
    /* 18px */
}

input[type=text]:focus,
input[type=password]:focus {
    outline: 0;
    border-bottom: 1px solid var(--grey-500);
}

@media all and (max-width : 1024px) {

    input[type=text],
    input[type=password] {
        font-size: 14px;
    }

    input[type=text]::placeholder,
    input[type=password]::placeholder {
        font-size: 14px;
    }

    .inputCaption {
        font-size: 16px;
    }
}

.bindingText {
    display: block;
    width: 100%;
    padding: 24px 12px;
    color: #000;
    font-family: var(--fn-suit);
    font-size: 18px;
    font-weight: 500;
    line-height: 100%;
    /* 18px */
    border: 0;
    border-bottom: 1px solid var(--grey-100);
    box-sizing: border-box;
}

.fileText {
    display: flex;
    align-items: center;
    width: 100%;
    height: 40px;
    padding: 10px 20px;
    border: 1px solid var(--grey-grey-100, #DBDEE2);
    background: var(--wh, #FFF);
    font-size: 14px;
    margin: 20px 0 16px 0;
    font-weight: 500;
    line-height: 100%;
    /* 18px */
}

@media all and (max-width : 1024px) {
    .bindingText {
        display: block;
        width: 100%;
        padding: 24px 12px;
        color: #000;
        font-family: var(--fn-suit);
        font-size: 14px;
        font-weight: 500;
        line-height: 100%;
        /* 18px */
        border: 0;
        border-bottom: 1px solid var(--grey-100);
        box-sizing: border-box;
    }

}

/* checkbox */
.checkInputBox {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 8px;
    width: 100%;
    padding: 10px 0;
}

input[type=checkbox] {
    /* display:none; */
}

input.checkOnly[type="checkbox"] {
    width: 20px;
    height: 20px;
    margin: 0;
    border-radius: 50%;
    appearance: none;
    cursor: pointer;
    background-image: url('/img/user_img/uncheck-grey.webp');
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center center;
}

input.checkOnly[type="checkbox"]:checked {
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
    background-image: url('/img/user_img/checked-grey.webp');
    background-size: 100%;
    background-position: center center;
}

.checkInputBox label {
    font-size: 14px;
    line-height: 100%;
    font-weight: 500;
    /* 14px */
    letter-spacing: -0.7px;
    text-decoration-line: underline;
    cursor: pointer;
}

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-thumb {
    background: #666;
}

::-webkit-scrollbar {
    width: 5px;
}

@media all and (max-width : 1024px) {
    ::-webkit-scrollbar {
        display: none;
    }
}


/* date */
input[type="date"], input[type="time"]{
    position: relative;
    width: 100%;
    padding: 24px 12px;
    color: #000;
    font-family: var(--fn-suit);
    font-size: 18px;
    font-weight: 500;
    line-height: 100%;
    /* 18px */
    border: 0;
    border-bottom: 1px solid var(--grey-100);
    box-sizing: border-box;
    background: #FFF;
    width: calc(100% - 4px) !important;
    height: 71px;
}

input[type="date"]::-webkit-clear-button,
input[type="date"]::-webkit-inner-spin-button { 
    display: none;
} 
input[type="date"]::-webkit-calendar-picker-indicator { 
    background: transparent;
    z-index: 1;
} 
input[type="date"]::after{
  position: absolute;
  top:50%;
  right:16px;
  content: '';
  width: 24px;
  height: 24px;
  background: url(/img/user_img/date.webp) center center / 100%;
  background-repeat: no-repeat;
  transform: translateY(-50%);
  z-index: 0;
}
input[type="date"]:focus, input[type="time"]:focus{
	outline: none;
    border-bottom: 1px solid var(--grey-500);
}

/* 모든 input placeholder에 SUIT 폰트 적용 */
::placeholder {
    font-family: 'SUIT', sans-serif !important;
}

::-webkit-input-placeholder {
    font-family: 'SUIT', sans-serif !important;
}

::-moz-placeholder {
    font-family: 'SUIT', sans-serif !important;
}

:-ms-input-placeholder {
    font-family: 'SUIT', sans-serif !important;
}

:-moz-placeholder {
    font-family: 'SUIT', sans-serif !important;
}