header{
    position: relative;
    z-index: 10;
    width: 100%;
    height: 108px;
    background-color: #fff;
    border-bottom: 1px solid var(--grey-grey-100, #DBDEE2);
}
header.subHeader{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    background: rgba(0, 0, 0, 0.30);
    border-bottom: 0;
    transition: all .2s;
}
header.subHeader:hover{
    background-color: #fff;
    border-bottom: 1px solid var(--grey-grey-100, #DBDEE2);
}

header.active {
    position: fixed !important;
    top:0;
    left: 0;
}
.headerInner{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    /* max-width: 1920px; */
    height: 100%;
    margin: 0 auto;
    padding: 0 80px;
}
.gnb{
    display: flex;
    align-items: center;
    height: 100%;
    column-gap: 100px;
}
.gnb h1{
    width: 243px;
}
.gnb h1 a{
    display: block;
    width: 100%;
}
.gnb h1 a img{
    width: 100%;
}
.gnb h1 a img.subLogo{
	display: none;
}
header.subHeader:hover .gnb h1 a img{
	display: none;
}
header.subHeader:hover .gnb h1 a img.subLogo{
	display: block;
}
.nav{
    display: flex;
    align-items: center;
    column-gap: 20px;
    height: 100%;
}
.nav > li{
    position: relative;
    display: flex;
    align-items: center;
    height: 100%;
}
.nav > li > a{
    display: flex;
    align-items: center;
    height: 100%;
    padding: 20px;
    font-size: 18px;
    font-weight: 500;
    line-height: 130%; /* 23.4px */
    letter-spacing: -0.9px;
}
header.subHeader .nav > li > a{
    color: #fff;
}
header.subHeader:hover .nav > li > a{
    color: #000;
}
header.subHeader .nav > li:hover > a{
    color: var(--gold-color);
}
.nav > li:hover > a{
    color: var(--gold-color);
}
.gnbNav{
    position: absolute;
    top: 100%;
    left: 50%;
    z-index: 10;
    transform: translateX(-50%);
    display: none;
    flex-direction: column;
    text-align: center;
    row-gap: 12px;
    width: 100%;
    height: 213px;
    padding-top: 20px;
    overflow: hidden;
}
.gnbNav li a{
    display: block;
    padding: 10px;
    color: #000;
    font-size: 18px;
    font-weight: 500;
    line-height: 130%; /* 23.4px */
    letter-spacing: -0.9px;
}

.gnbNav > li a:hover{
    color: var(--gold-color);
}
.sideButtons{
    display: flex;
    align-items: center;
    column-gap: 16px;
}
.sideButtons a{
    display: block;
    padding: 8px 20px;
    border-radius: 4px;
    border: 1px solid var(--grey-100);
    font-size: 14px;
    font-weight: 500;
    line-height: 130%; /* 18.2px */
    letter-spacing: -0.7px;
    transition: all .2s;
}
.sideButtons a.bag{
	display: flex;
	align-items: center;
	flex-direction: column;
	row-gap: 2px;
    padding: 4px;
    border: none;
	font-size: 14px;
}
header.subHeader .sideButtons a{
    color: #fff;
}
.headerInner > a:hover{
    background-color: var(--grey-50);
}
header.subHeader:hover .sideButtons a{
    color: #000;
}
.headerInner > button{
    display: none;
    padding: 0;
}
.bkBag{
	display: none;
}
header.subHeader:hover .bkBag{
	display: block;
}
header.subHeader:hover .wtBag{
	display: none;
}

.gnbBack{
    position: absolute;
    left: 0;
    top: 108px;
    z-index: 2;
    width: 100%;
    height: 213px;
    background-color: #fff;
}

@media all and (max-width : 1315px){
    .headerInner{
        padding: 0 40px;
    }
    .gnb{
        column-gap: 20px;
    }
    .nav{
        column-gap: 8px;
    }
}

.mobile-menu{
    display: none;
}

@media all and (max-width : 1024px){
    header{
        height: 68px;
    }
    .headerInner{
        padding: 0 20px;
    }
    .gnb h1{
        width: 210px;
    }
    .nav{
        display: none;
    }
    .sideButtons{
        display: none;
    }
    .headerInner > button{
        display: block;
    }

	header.subHeader{
	    position: absolute;
	    top: 0;
	    left: 0;
	    z-index: 10;
	    border-bottom: 0;
	    transition: all .2s;
	}
	header.subHeader:hover{
	    background: rgba(0, 0, 0, 0.30);
	}
	header.subHeader:hover .gnb h1 a img{
		display: block;
	}
	header.subHeader:hover .gnb h1 a img.subLogo{
		display: none;
	}

    .mobile-menu {
        display: block;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #171C61;
        z-index: 9999;
        transform: translateX(100%);
        transition: all 0.25s;
    }

    .mobile-menu.active {
        transform: translateX(0);
    }

    .mobile-header {
        padding: 20px;
        display: flex;
        justify-content: space-between;
        margin-bottom: 29px;
    }

    .mobile-header .logo {
        width: 210px;
    }

    .mobile-header .logo img {
        width: 100%;
    }

    .menu-close {
        background-color: unset;
        width: 24px;
        height: 24px;
    }

    .mobile-menu ul.depth {
        width: 100%;
        display: flex;
        flex-direction: column;
        row-gap: 20px;
        overflow-y: auto;
    	height: calc(100% - 149.64px);
    }

    .mobile-menu ul.depth>li {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 10px 0 0 0;
        /* height: 64px; */
        justify-content: center;
    }

    .mobile-menu ul.depth>li>a,
    .mobile-menu ul.depth>li>span {
	    width: 100%;
	    height: 100%;
	    display: flex;
	    justify-content: center;
	    align-items: center;
        padding: 10px 10px 20px 10px;
        color: #fff;
        font-size: 22px;
        letter-spacing: -1.1px;
        font-weight: 500;
        line-height: 1.3;
    }
    
    .mobile-menu ul.depth>li.infoButtons>a{
	    width: 100%;
	    height: 100%;
	    display: flex;
	    justify-content: center;
	    align-items: center;
        padding: 10px;
        color: #fff;
        font-size: 16px;
        letter-spacing: -1.1px;
        font-weight: 500;
        line-height: 1.3;
    
    }

    .mobile-menu ul.depth>li.active {
        background-color: #070B45;
    }

    .mobile-menu ul.depth>li.active > a, .mobile-menu ul.depth>li.active > span {
        color: #A48B78;
    }

    .mobile-menu ul.depth .sub-depth {
        display: none;
        padding: 10px 0;
        width: 100%;
        background-color: #1E2477;
    }

    .mobile-menu ul.depth .sub-depth li {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 10px 0;
    }
    .mobile-menu ul.depth .sub-depth li:first-of-type{
        margin-bottom: 10px;
    }
    .mobile-menu ul.depth .sub-depth {
        display: none;
        padding: 10px 0;
        width: 100%;
        background-color: #1E2477;
    }

    .mobile-menu ul.depth .sub-depth li {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 10px 0;
        color: #fff;
        font-size: 16px;
    }
}


.nav > li.active > a{
    color: var(--gold-color) !important;
}