.introSection{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 15;
    width: 100%;
    height: 100vh;
}
.introSection > img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.introSecContents{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 228px;
    background: linear-gradient(90deg, #000 0%, rgba(0, 0, 0, 0.7) 20.38%, rgba(0, 0, 0, 0.2) 70.38%);
}
.introSecContents h2{
    width: 243px;
}
.introSecContents h2 img{
    width: 100%;
}
.introSecContents span{
    margin-top: 4.8%;
    color: var(--wh, #FFF);
    font-size: 70px;
    font-weight: 500;
    line-height: 100%; /* 70px */
    letter-spacing: -3.5px;
}
.introSecContents p{
    width: 721px;
    margin: 20px 0 10% 0;
    color: var(--wh, #FFF);
    font-size: 70px;
    font-weight: 700;
    line-height: 120%; /* 84px */
    letter-spacing: -3.5px;
}
.introSecContents .scroll{
    display: flex;
    align-items: center;
    column-gap: 10px;
    padding: 10px;
    color: var(--wh, #FFF);
    font-size: 20px;
    font-weight: 500;
    line-height: 100%; /* 20px */
    letter-spacing: 1px;
}
.introSecContents .scroll img{
    animation: scroll 1s infinite ease-in-out;
}
@keyframes scroll {
    0%{
        transform: translateY(0);
    }
    50%{
        transform: translateY(5px);
    }
    100%{
        transform: translateY(0);
    }
}
.mbBack{
    display: none;
}

@media all and (max-width : 1400px){
    .introSecContents{
        padding-left: 100px;
    }

}
@media all and (max-width : 1024px){
    .pcBack{
        display: none;
    }
    .mbBack{
        display: block;
    }
    .introSecContents{
        padding-top: 30%;
        
        padding-left: 0;
        align-items: center;
        justify-content: flex-start;
        background: linear-gradient(-180deg, #000 0%, rgba(0, 0, 0, 0.7) 20.38%, rgba(0, 0, 0, 0.2) 70.38%);
    }
    .introSecContents span{
        margin-top: 50px;
        font-size: 28px;
        letter-spacing: -1.4px;
    }
    .introSecContents p{
        width: 289px;
        margin: 9px 0 40px 0;
        font-size: 28px;
        font-weight: 700;
        line-height: 140%;
        text-align: center;
        letter-spacing: -1.4px;
    }
}

main{
    width: 100%;
}
.section1{
    display: flex;
    width: 100%;
}

.eduSection{
    width: 506px;
    border-right: 1px solid var(--grey-grey-100, #DBDEE2);
}
.eduSection img{
    width: 100%;
}
.eduPosTexts{
    display: flex;
    flex-direction: column;
    row-gap: 32px;
    width: 100%;
    padding: 32px 60px 20px 60px;
}
.eduPosTitle{
    display: flex;
    flex-direction: column;
    row-gap: 4px;
}
.eduPosTitle p{
    font-size: 18px;
    font-weight: 700;
    line-height: 130%; /* 23.4px */
    letter-spacing: -0.9px;
}
.eduPosTitle span{
    font-size: 14px;
    font-weight: 400;
    line-height: 130%; /* 18.2px */
    letter-spacing: -0.7px;
    word-break: keep-all;
}
.eduPosText{
    display: flex;
    flex-direction: column;
    row-gap: 8px;
}
.eduPosText li{
    display: flex;
    align-items: flex-start;
    column-gap: 12px;
    padding: 8px 0;
}
.eduPosText li p{
    display: flex;
    align-items: center;
    column-gap: 4px;
    font-size: 14px;
    font-weight: 600;
    line-height: 170%; /* 23.8px */
    letter-spacing: -0.7px;
    white-space: nowrap;
}
.eduPosText li p img{
    width: 16px;
    height: 16px;
}
.eduPosText li span{
    font-size: 14px;
    font-weight: 400;
    line-height: 170%; /* 23.8px */
    letter-spacing: -0.7px;
    word-break: keep-all;
}


.swiperSection{
    width: calc(100% - 506px);
    height: 601px;
}
.swiperSection .swiper{
    width: 100%;
    height: 100%;
}
.swiperSection .swiper-pagination {
    background-color: #333;
    padding: 10px;
}
.swiperSection .swiper-pagination-bullet {
    width: 10px;
    height: 10px;
    background-color: #fff;
    opacity: 0.5;
}
.swiperSection .swiper-pagination-bullet-active {
    opacity: 1;
}


.buttonsWrapper{
    position: absolute;
    right: 40px;
    bottom: 40px;
    width: 100px;
    height: 100px;
}
.swiperSection .swiperButtons{
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}
.swiperSection .swiper-button-prev,
.swiperSection .swiper-button-next{
    position: absolute;
    z-index: 12;
    width: 6px;
    height: 12px;
    color: #fff;
}
.swiperSection .swiper-button-prev{
    left: 22.5px;
    top: 65px;
} 
.swiperSection .swiper-button-next{
    right: 22.5px;
    top: 65px;
}
.swiperSection .swiper-button-prev::after,
.swiperSection .swiper-button-next::after{
    font-size: 15px;
}
.swiperSection .swiper-button-pause{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 12;
    cursor: pointer;
    width: 16px;
    height: 16px;
    /* background-image: url(/img/user_img/pause.png); */
    background-repeat: no-repeat;
    background-size: 100%;
}
.swiperSection .swiper-button-pause::after{
    content: "";
    display: inline-block;
}
.autoplay-progress {
    position: relative;
    right: 0;
    bottom: 100px;
    z-index: 10;
    width: 100px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    color: var(--gold-color); /* 텍스트 색상 변경 */
}
.autoplay-progress svg {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    transform: rotate(-90deg);
}
.autoplay-progress svg circle {
    stroke-width: 1px;
    fill: none;
}
/* 배경 원 */
.autoplay-progress svg circle:first-child {
    stroke: rgba(255, 255, 255, 0.2); /* 배경 라인 색상 */
}
/* 진행 상태를 나타내는 원 */
.autoplay-progress svg circle:last-child {
    stroke: var(--gold-color);
    stroke-dashoffset: calc(125.6 * (1 - var(--progress)));
    stroke-dasharray: 125.6;
}
.swiperSection .swiper-horizontal>.swiper-pagination-bullets, .swiperSection .swiper-pagination-bullets.swiper-pagination-horizontal, .swiperSection .swiper-pagination-custom, .swiper-pagination-fraction{
    display: flex;
    align-items: center;
    background-color: transparent;
    right: 149px;
    bottom: 75px;
    left: unset;
    width: fit-content;
}
.swiperSection .swiper-pagination-bullet{
    width: 6px;
    height: 6px;
    opacity: 1;
}
.swiperSection .swiper-pagination-bullet-active{
    position: relative;
    background-color: transparent;
    margin: 0;
    width: 10px;
    height: 10px;
}
.swiperSection .swiper-pagination-bullet-active::after{
    position: absolute;
    top: 0;
    left: 0;
    content: "";
    display: inline-block;
    width: 10px;
    height: 10px;
    background-image: url(/img/user_img/active.png);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center center;
}
.swiperSection .swiper-slide{
    position: relative;
}
.swiperSection .swiper-slide > img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.swiperTexts{
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100%;
    padding-left: 66px;
    /* background: linear-gradient(90deg, #000 0%, rgba(0, 0, 0, 0.2) 5.38%, rgba(0, 0, 0, 0.2) 70.38%); */
    background: linear-gradient(-90deg, rgba(0,0,0,0.08) 70%, rgba(0,0,0,0.5) 100%);
}
.swiperTexts span{
    display: block;
    color: var(--wh, #FFF);
    font-size: 28px;
    font-weight: 500;
    line-height: 100%; /* 28px */
    letter-spacing: -1.4px;
}
.swiperTexts p{
    margin: 12px 0 38px 0;
    color: var(--wh, #FFF);
    font-size: 56px;
    font-weight: 700;
    line-height: 120%; /* 67.2px */
    letter-spacing: -2.8px;
}
.swiperTexts.first p{
    width: 577px;
}
.swiperTexts.second p{
    width: 363px;
}
.swiperTexts a{
    display: flex;
    align-items: center;
    justify-content: center;
    width: fit-content;
    column-gap: 10px;
    padding: 16px 16px 16px 32px;
    border: 1px solid var(--wh, #FFF);
    color: var(--wh, #FFF);
    font-size: 18px;
    font-weight: 500;
    line-height: 130%; /* 23.4px */
    letter-spacing: -0.9px;
    transition: all .2s;
}
.swiperTexts a img.hover{
    display: none;
}
.swiperTexts a:hover{
	border: 1px solid var(--wh, #FFF);
	background: #FFF;
	color: var(--Navy, #171C61); 
}
.swiperTexts a:hover img{
    display: none;
}
.swiperTexts a:hover img.hover{
    display: block;
}

@media all and (max-width : 1390px){
    .eduSection{
        width: 430px;
    }
    .swiperSection {
        width: calc(100% - 430px);
        height: 512px;
    }
    .swiperTexts span{
        font-size: 28px;
    }
    .swiperTexts p{
        font-size: 40px;
    }
    .swiperTexts.first p{
        width: 407px;
    }
}
@media all and (max-width : 1024px){
    main{
        position: relative;
        padding-bottom: 880px;
    }
    .eduSection{
        position: absolute;
        bottom: 150px;
        border-right: 0;
    }
    .eduSection{
        width: 100%;
    }
    .eduSection > span{
        display: block;
        width: 100%;
        height: 467px;
    }
    .eduSection > span img{
        width: 100%;
        height: 100%;
        object-fit: contain;
    }
    .eduPosTexts{
        row-gap: 20px;
        padding: 12px 20px 0 20px;
    }
    .eduPosText{
        display: flex;
        flex-direction: column;
        row-gap: 8px;
    }
    .eduPosText li{
        display: flex;
        align-items: flex-start;
        column-gap: 8px;
        padding: 0;
    }
    .eduPosText li p{
        display: flex;
        align-items: center;
        column-gap: 4px;
        font-size: 14px;
        font-weight: 600;
        line-height: 170%; /* 23.8px */
        letter-spacing: -0.7px;
        white-space: nowrap;
    }
    .eduPosText li p img{
        width: 16px;
        height: 16px;
    }
    .eduPosText li span{
        font-size: 14px;
        font-weight: 400;
        line-height: 170%; /* 23.8px */
        letter-spacing: -0.7px;
        word-break: keep-all;
    }

    .swiperSection{
        width: 100%;
        height: unset;
    }
    .swiperSection .swiper{
        width: 100%;
        height: 405px;
        background-color: #000;
    }

    .swiperSection .buttonsWrapper{
        display: none;
    }
    .swiperSection .swiper-horizontal>.swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal, .swiper-pagination-custom, .swiper-pagination-fraction{
        position: absolute;
        right: 50%;
        bottom: 24px;
        transform: translateX(50%);
        display: flex;
        column-gap: 10px;
    }
    .swiperSection .swiper-pagination-bullet-active{
        width: 12px;
        height: 12px;
    }
    .swiperSection .swiper-pagination-bullet-active::after{
        width: 12px;
        height: 12px;
    }
    .swiperTexts{
        
        padding-left: 20px;
        background: linear-gradient(-90deg, rgba(0,0,0,0.08) 70%, rgba(0,0,0,0.5) 100%);
    }
    .swiperTexts p{
        margin: 12px 0 38px 0;
        color: var(--wh, #FFF);
        font-size: 28px;
        font-weight: 700;
        line-height: 140%; /* 67.2px */
        letter-spacing: -1.4px;
    }
    .swiperTexts.first p{
        width: unset;
    }
    .swiperTexts.second p{
        width: unset;
    }
    .swiperTexts a{
        font-size: 14px;
    }
    .swiperTexts a img{
        width: 20px;
    }
}
@media all and (max-width : 530px){
    main{
        position: relative;
        padding-bottom: 900px;
    }
}
@media all and (max-width : 440px){
    main{
        position: relative;
        padding-bottom: 940px;
    }
}

.bookingNotice{
    display: flex;
    column-gap: 40px;
    width: 100%;
    padding: 70px 80px 0 20px;
}
.bookingSection{
    display: flex;
    flex-direction: column;
    width: calc(50% - 36.5px);
}
.mainSubTitle{
    margin-bottom: 8px;
    font-size: 26px;
    font-weight: 700;
    line-height: 130%; /* 33.8px */
}
.bookingLinks{
    display: flex;
    column-gap: 13px;
}
.bookingLinks li{
    width: 50%;
    height: 209px;
    background: var(--wh, #FFF);
}
.bookingLinks li a{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    padding: 32px 16px 16px 32px;
    color: var(--gold-color);
    border: 2px solid var(--gold-color);
    transition: all .2s;
}
.bookingLinks li a::after{
    align-self: flex-end;
    content: "";
    display: inline-block;
    width: 48px;
    height: 48px;
    background-image: url(/img/user_img/linkto2.png);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center center;
    transition: all .2s;
}
.bookingLinks li a p{
    display: flex;
    flex-direction: column;
    font-size: 30px;
    font-style: normal;
    font-weight: 500;
    line-height: 130%;
    letter-spacing: -1.5px;
}
.bookingLinks li a p span{
    font-weight: 700;
}
.bookingLinks li:hover a{
    background: var(--navy-color);
    border: 2px solid var(--navy-color);
    color: #fff;
}
.bookingLinks li:hover a::after{
    background-image: url(/img/user_img/linkto1.png);
    transform: rotate(45deg);
}

.noticeContainer{
    width: calc(50% - 36.5px);
}
.notice{
    width: 100%;
}
.notice li {
    width: 100%;
    height: 66px;
    border-bottom: 1px solid var(--bk, #000);
    transition: all .2s;
}
.notice li a {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%;
}
.notice li:hover{
    background-color: var(--grey-50);
}
.ntInfos {
    display: flex;
    align-items: center;
    column-gap: 12px;
    font-size: 20px;
    font-weight: 500;
    line-height: 130%;
    letter-spacing: -1px;
    flex-grow: 1;
    min-width: 0;
}
.category {
    flex-shrink: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 63px;
    height: 34px;
    background-color: var(--gold-color);
    color: #FFF;
    font-size: 14px;
    font-weight: 500;
    line-height: 130%;
    letter-spacing: -0.7px;
}
.ntInfos .ntIndex {
    flex-shrink: 0;
    min-width: 46px;
}
.ntInfos .ntTitle {
    flex-grow: 1;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    word-break: break-all;
}

.ntDate {
    flex-shrink: 0;
    display: flex;
    align-items: center;
    column-gap: 20px;
    margin-left: 20px;
    color: var(--grey-500);
    font-size: 16px;
    font-weight: 500;
    line-height: 130%;
    letter-spacing: -0.8px;
}

@media all and (max-width : 1390px){
    .bookingNotice{
        padding: 70px 20px 0 20px;
    }
    .bookingSection{
        width: 50%;
    }
    .bookingLinks li{
        width: 50%;
    }
    .bookingLinks li a{
        padding: 16px;
    }
    .bookingLinks li a p{
        display: flex;
        flex-direction: column;
        font-size: 20px;
        font-style: normal;
        font-weight: 500;
        line-height: 130%;
        letter-spacing: -1.5px;
    }
    .noticeContainer{
        width: 50%;
    }
    .ntInfos .ntIndex {
        min-width: unset;
    }
    .ntDate {
        font-size: 14px;
    }
}
@media all and (max-width : 1024px){
    .bookingNotice{
        flex-direction: column;
        width: 100%;
        row-gap: 40px;
        padding: 40px 20px;
    }
    .bookingSection{
        width: 100%;
    }
    .mainSubTitle{
        font-size: 18px;
    }
    .bookingLinks li{
        height: 170px;
    }
    .bookingLinks li a{
        padding: 22px 12px 12px 22px;
    }
    .bookingLinks li a p{
        font-size: 23px;
        letter-spacing: -1.15px;
    }
    
    .noticeContainer{
        width: 100%;
    }
    .notice li {
        height: 140px;
    }
    .notice li a {
        position: relative;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        row-gap: 12px;
        padding: 46px 0 16px 0;
    }
    .ntInfos {
        display: flex;
        align-items: center;
        column-gap: 12px;
        font-size: 20px;
        font-weight: 500;
        line-height: 130%;
        letter-spacing: -1px;
        flex-grow: unset;
        min-width: unset;
        width: 100%;
    }
    .ntInfos .category {
        position: absolute;
        top: 16px;
        left: 0;
        flex-shrink: unset;
    }
    .ntInfos .ntIndex {
        padding-top: 12px;
        min-width: unset;
        flex-shrink: unset;
    }
    .ntInfos .ntTitle {
        display: inline-block;
        width: 100%;
        padding-top: 12px;
        flex-grow: unset;
    }
    .ntDate {
        flex-shrink: 0;
        align-self: flex-end;
        font-size: 16px;
    }
}

.cardSection{
    width: 100%;
    max-width: 1800px;
    margin: 0 auto;
    padding: 190px 20px;
}
.cardLists{
    display: flex;
    justify-content: center;
    column-gap: 21px;
    width: 100%;
}
.cardLists li{
    width: 277px;
    height: 701px;
    transition: all .3s;
}
.cardLists li > span{
    display: block;
    width: 100%;
    height: 100%;
    transition: all .3s;
    overflow: hidden;
}
.cardLists li > span img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all .3s;
}
.cardLists li:not(.active) > span{
    cursor: pointer;
}
.cardLists li:not(.active) > span:hover img{
    transform: scale(1.05);
}
.cardContents{
    display: none;
}

.cardLists li.active{
    display: flex;
    column-gap: 40px;
    width: fit-content;
    height: auto;
    margin-right: 15%;
}
.cardLists li.active > span{
    display: block;
    width: 425px;
    height: 701px;
    overflow: hidden;
    transition: all .3s;
}
.cardLists li.active .cardContents{
    display: block;
    max-width: 429px;
}

.cardContents .cardSub{
    display: block;
    font-size: 32px;
    font-weight: 700;
    line-height: 120%; /* 38.4px */
    letter-spacing: -1.6px;
}
.cardContents p{
    margin: 40px 0 32px 0;
    font-size: 46px;
    font-weight: 700;
    line-height: 120%; /* 67.2px */
    letter-spacing: -2.8px;
}
.cardContents .cardDesc{
    display: inline-block;
    margin-bottom: 80px;
    font-size: 22px;
    font-weight: 500;
    line-height: 160%; /* 35.2px */
    letter-spacing: -1.1px;
}

@media all and (max-width : 1024px){
    .cardSection{
        padding: 20px;
    }
    .cardLists{
        display: flex;
        justify-content: flex-start;
        flex-direction: column;
        row-gap: 20px;
        width: 100%;
    }
    .cardLists li{
        width: 100%;
        height: 272px;
        overflow: hidden; /* 추가: 내용이 넘치지 않도록 */
        transition: height 0.3s ease; /* 추가: 부드러운 높이 변화를 위한 트랜지션 */
    }

    .cardContents{
        display: none;
    }
    .cardLists li.active{
        flex-direction: column;
        row-gap: 20px;
        width: 100%;
        height: auto;
        margin-right: 0;
    }
    .cardLists li.active > span{
        width: 100%;
        height: 272px !important; /* 변경: !important 제거 */
        transition: none; /* 추가: 트랜지션 제거로 즉시 변경 */
    }
    .cardLists li.active .cardContents{
        display: block;
        max-width: unset;
    }

    .cardContents .cardSub{
        font-size: 18px;
        letter-spacing: -0.9px;
    }
    .cardContents p{
        margin: 12px 0 20px 0;
        font-size: 34px;
        letter-spacing: -1.7px;
    }
    .cardContents .cardDesc{
        margin-bottom: 32px;
        font-size: 16px;
        letter-spacing: -0.8px;
    }
}

.videoSection{
    width: 100%;
    max-width: 1800px;
    padding: 0 20px;
    margin: 40px auto 150px;
}
.imgContainer {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 56.25%;
}

  /* 16:9 */
.imgContainer > img {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    border-radius: 20px;
}
.overlay{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    row-gap: 170px;
    width: 100%;
    height: 100%;
    border-radius: 20px;
    background: rgba(0, 0, 0, 0.50);
}
.overlay p{
    color: #FFF;
    text-align: center;
    font-size: 56px;
    font-weight: 700;
    line-height: 140%; /* 67.2px */
    letter-spacing: -2.8px;
}

@media all and (max-width : 1390px){
    .overlay{
        row-gap: 70px;
    }
    .overlay p{
        font-size: 48px;
    }
}
@media all and (max-width : 1024px){
    .videoSection{
        padding: 0 20px 20px 20px;
        margin: 0 auto;
    }
    .imgContainer {
        position: relative;
        width: 100%;
        height: 332px;
        padding-bottom: 0;
    }
    
      /* 16:9 */
    .imgContainer > img {
        position: unset;
        width: 100%;
        height: 100%;
        border-radius: 20px;
        object-fit: cover;
    }
    .overlay{
        position: absolute;
        top: 0;
        left: 0;
        z-index: 10;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        row-gap: 22px;
        width: 100%;
        height: 100%;
        border-radius: 20px;
        background: rgba(0, 0, 0, 0.50);
    }
    .overlay p{
        color: #FFF;
        text-align: center;
        font-size: 16px;
        font-weight: 700;
        line-height: 140%; /* 67.2px */
        letter-spacing: -0.8px;
    }
}



/* popup */
.mainPopup{
	position: fixed;
 left: 0;
 top: 0;
 display: none;
 align-items: center;
 justify-content: center;
 width: 100%;
 height: 100%;
 background: rgba(0, 0, 0, 0.60);
 z-index : 14;
}
.mainPopupInner{
	position: relative;
 width: 550px;
 height: 550px;
}
.mainPopupInner > button{
	position: absolute;
 top: -78px;
 left: 50%;
 transform: translateX(-50%);
 width: 50px;
 height: 50px;
 cursor: pointer;
}
.mainPopupInner .swiper{
	width: 100%;
 height: 100%;
 border: 1px solid var(--Foundation-grey-grey-50, #F0F3F1);
 box-shadow: 0px 0px 26px 0px rgba(0, 0, 0, 0.05);
}
.mainPopupInner .swiper-wrapper{
	width: 100%;
 height: 100%;
}
.mainPopupInner .swiper-wrapper .swiper-slide{
	width: 100%;
 height: 100%;
}
.mainPopupInner .swiper-wrapper a{
	display: block;
 width: 100%;
 height: 100%;
}
.mainPopupInner .swiper-wrapper a img{
	width: 100%;
 height: 100%;
 object-fit: cover;
}
.mainPopupInner .swiper-horizontal>.swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal, .swiper-pagination-custom, .swiper-pagination-fraction{
	position: unset;
}
.mainPopupButtons{
	display: flex;
 justify-content: space-between;
 padding: 12px 0;
 width: 100%;
 background-color: var(--grey-50);
}
.mainPopupButtons button{
	padding: 10px 20px;
 color: #3F3F3F;
 font-family: var(--fn-suit);
 font-size: 14px;
 font-weight: 400;
 line-height: 100%; /* 14px */
 letter-spacing: -0.7px;
 cursor: pointer;
}
.swiper-pagination-bullet{
	width: 10px;
 height: 6px;
 margin: 0 2px !important;
 border-radius: 10px;
 background-color: var(--grey-50);
 opacity: 1;
 transition: all .3s;
}
.swiper-pagination-bullet-active{
	width: 28px;
	 height: 6px;
	 background-color: var(--navy-color);
}

@media all and (max-width : 768px){
	.mainPopupInner .swiper-horizontal>.swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal, .swiper-pagination-custom, .swiper-pagination-fraction {
      transform: unset;
	}
}
@media all and (max-width : 768px){
	.mainPopupInner{
 width: 90%;
 height: fit-content;
 }
 .mainPopupInner .swiper-wrapper .swiper-slide {
   	height: auto;
 }
}