.contentsContainer{
    position: absolute;
    top: 112px;
    left: 56px;
    width: calc(100% - 56px);
    height: calc(100% - 112px);
}
.inputsContainer{
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    width: 100%;
}
.inputBox{
    display: flex;
    flex-direction: column;
}
.inputBox.per{
	width: 100%;
}

/* 게시판 */
.listInner .countList{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding-bottom: 30px;
}
.listInner{
	position: relative;
}
.listInner.set{
    display: flex;
    flex-direction: column;
	row-gap: 16px;
}
.listInner .countList .inputsContainer{
    width: fit-content;
}

.countList > p{
    color: var(--text-color);
    font-size: 16px;
    font-weight: 500;
    line-height: 100%; /* 16px */
    letter-spacing: -0.8px;
}
.countList > p > span{
    color: var(--blue-500);
    font-family: SUIT;
    font-size: 20px;
    font-weight: 700;
}
.listSearch{
    position: relative;
}
.listSearch input{
    padding-right: 35px;
}
.listSearch a{
    position: absolute;
    right: 16px;
    top: 50%;
    transform: translateY(-50%);
}
.listSearch a img{
    width: 14px;
}
.listContainer{
	position: relative;
    width: 100%;
    height: 100%;
    padding: 24px 24px 150px 24px;
    border-top: 1px solid var(--grey-100);
    background-color: var(--grey-50);
    overflow-y: scroll;
}
.listContainer::-webkit-scrollbar{
    display: none;
}
.listContainer.set{
    display: flex;
    flex-direction: column;
    row-gap: 20px;
	
}
.listInner{
    width: 100%;
    height: fit-content;
    padding: 24px 32px;
    background-color: #fff;
}
.ListWrpper{
    width: 100%;
    padding-top: 12px;
}
/* 사용자리스트용 */
.listHead{
    display: grid;
    text-align: center;
}
.listHead li{
    padding: 20px 0;
    background-color: var(--blue-50);
    color: var(--text-color);
    font-size: 14px;
    font-weight: 700;
    line-height: 100%; /* 14px */
    letter-spacing: -0.7px;
}

.listBody > li{
    display: grid;
    text-align: center;
    border-bottom: 1px solid var(--grey-100);
    background-color: #fff;
}


/* 장비리스트 */
.listHead.equipList{
    grid-template-columns: 5% 5% 5% 10% 35% 10% 10% 10% 10%;
}
.listBody.equipList > li{
    grid-template-columns: 5% 5% 5% 10% 35% 10% 10% 10% 10%;
    cursor: pointer;
}
/* 장비 관리대장 리스트 */
.listHead.setList{
    grid-template-columns: 5% 12% 10% 10% 10% 9% 5% 32% 7%;
}
.listBody.setList > li{
    grid-template-columns: 5% 12% 10% 10% 10% 9% 5% 32% 7%;
}
/* 시설리스트 */
.listHead.facilList{
    grid-template-columns: 5% 5% 20% 40% 10% 10% 10%;
}
.listBody.facilList > li{
    grid-template-columns: 5% 5% 20% 40% 10% 10% 10%;
}
/* 시설 관리대장 리스트 */
.listHead.setFacilHead{
    grid-template-columns: 3% 5% 10% 10% 10% 10% 10% 30% 7% 5%;
}
.listBody.setFacilHead > li{
    grid-template-columns: 3% 5% 10% 10% 10% 10% 10% 30% 7% 5%;
}
/*	교육신청 리스트 */
.listHead.eduHead{
    grid-template-columns: 5% 5% 55% 15% 15% 5%;
}

.listBody.eduBody > li{
    grid-template-columns: 5% 5% 55% 15% 15% 5%;
}
/*	사용자 리스트 */
.listHead.userList{
    grid-template-columns: 5% 5% 10% 13% 13% 13% 35% 6%;
}

.listBody.userList > li{
    grid-template-columns: 5% 5% 10% 13% 13% 13% 35% 6%;
    cursor: pointer;
}

/*	팝업 리스트 */
.listHead.popupList{
    grid-template-columns: 10% 25% 35% 10% 10% 10%;
}

.listBody.popupList > li{
    grid-template-columns: 10% 25% 35% 10% 10% 10%;
    cursor: pointer;
}

/* 상세보기 버튼 스타일 */
.listBody.boardlist li .details {
    cursor: pointer;
    color: var(--blue-500);
    text-decoration: underline;
}

.listBody.boardlist li .details:hover {
    color: var(--blue-700);
}
.modify{
	text-decoration-line: underline;
}
.listImg{
	width: 134px;
	height: 80px;
	padding: 4px;
}
.listImg img{
	width: 100%;
	height: 100%;
	object-fit:contain;
}

/* 게시판리스트용 */
.listHead.noticelist{
    display: grid;
    grid-template-columns: 10% 40% 30% 20%;
    text-align: center;
}
.listBody.noticelist li{
    display: grid;
    grid-template-columns: 10% 40% 30% 20%;
    text-align: center;
    border-bottom: 1px solid var(--grey-100);
    background-color: #fff;
}

.listBody > li p, .listBody > li > a{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 9px 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 100%; /* 14px */
    letter-spacing: -0.7px;
}
.listBody li p.title{
    justify-content: flex-start;
	text-decoration-line: underline;
}
.listBody li p.delete{
    display: flex;
    justify-content: center;
}
.listBody li p.delete a, .listBody li p.delete button {
    display: block;
    width: 32px;
    height: 100%;
    background-image: url(/img/admin/delete.png);
    background-repeat: no-repeat;
    background-position: center center;
}
.listBody li p.label a{
    display: block;
    width: 32px;
    height: 100%;
    background-image: url(/img/admin/download2.png);
    background-repeat: no-repeat;
    background-position: center center;
}
.listBody li p.delete a:hover{
    background-image: url(/img/admin/delete-hovered.png);
}
.listBody li:hover{
    background-color: var(--grey-50);
}

.pagination{
	display: flex;
	justify-content: center;
	column-gap: 16px;
	width: 100%;
	margin-top: 40px;
}
.pagination a{
	display: flex;
	align-items: center;
	justify-content: center;
	width: 40px;
	height: 40px;
	border-radius: 4px;
	border: 1px solid var(--grey-50);
	background: #fff;
	color: var(--text-color);
	font-size: 13px;
	font-weight: 600;
}
.pagination a.active{
	background-color: var(--blue-50);
	border: 1px solid var(--blue-500);
	color: var(--blue-500);
}
.pagination a:hover{
	background-color: var(--grey-50);
}
.pagination a.active:hover{
	background-color: var(--blue-50);
	border: 1px solid var(--blue-500);
	color: var(--blue-500);
}
.pagination p{
	padding: 10px;
	color: var(--text-color);
	font-size: 13px;
	font-weight: 600;
}

.listButton{
    display: flex;
    justify-content: flex-end;
    column-gap: 12px;
    width: 100%;
    padding-top: 22px;
}
.listButton a, .listButton button{
	cursor : pointer;
    display: flex;
    align-items: center;
    column-gap: 4px;
    display: flex;
    padding: 8px 16px 8px 8px;
    border-radius: 4px;
    border: 1px solid var(--grey-100);
    background: #fff;
	color: var(--text-color);
    font-size: 14px;
    font-weight: 400;
    line-height: 100%; /* 14px */
    letter-spacing: -0.7px;
}
.listButton.accept a{
    padding: 8px 16px;
}
.listButton.accept a:first-of-type{
    background: var(--blue-500);
    border: 1px solid var(--blue-500);
    color:#fff;
}
.listButton a:hover{
    background: var(--grey-50);
}
.listButton a img{
    width: 16px;
}

/* 게시판 글 쓰기 */
.listInner .boardForm{
    display: flex;
    flex-direction: column;
    row-gap: 48px;
    width: 100%;
    height: 100%;
}
.listInner .boardForm input{
    width: 632px;
}
.editor{
    width: 100%;
    height: 500px;
    background-color: var(--grey-100);
}
.listInner .inputCaption{
    display: flex;
    align-items: center;
    column-gap: 22px;
}
.inputCaption > label{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 79px;
    height: 32px;
    border-radius: 4px;
    border: 1px solid var(--grey-100);
}
.inputCaption > label:hover{
    background-color: var(--grey-50);
}

.fileList{
    position: relative;
    display: none;
    align-items: center;
    column-gap: 10px;
    width: 190px;
    height: 40px;
    border: 1px solid var(--grey-100);
    background: var(--grey-50);
    margin-bottom: 10px;
}
.fileList.binding{
    display: block;
	
}
.fileList p{
    width: 120px;
    padding-left: 20px;
    color: var(--text-color);
    font-size: 14px;
    font-weight: 500;
    line-height: 100%; /* 14px */
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    word-break: break-all;
}
.fileList button{
	cursor: pointer;
}
.fileList img{
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    width: 16px;
}
.fileCaption{
    color: var(--grey-400);
    font-size: 14px;
    font-weight: 400;
    line-height: 140%; /* 19.6px */
    letter-spacing: -0.7px;
}

.btnContainer{
    display: flex;
    justify-content: flex-end;
    column-gap: 12px;
    width: 100%;
    padding-top: 28px;
}






.rentalItemList {
    position: absolute;
    top: 49px;
    right: 100px;
    width: 324px;
    padding: 0 20px;
}

.rentalItemList.fa {
    padding: 40px 20px 0 20px;
}

.rentalItemList li {
    position: relative;
    width: 324px;
    height: 411px;
}

.rentalItemList li input {
    display: none;
}
.rentalItemList li input[type=checkbox] + label {
    display: none;
}


.rentalItemList li label {
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 5;
    width: 100%;
    height: 100%;
    cursor: pointer;
}

.rentalListContainer.active .rentalItemList {
    padding: 0 80px 0 20px;
}

.rentalListContainer.active .rentalItemList.fa {
    padding: 40px 80px 0 20px;
}

.itemImg {
    position: relative;
    width: 100%;
    height: 189px;
    margin-bottom: 16px;
    overflow: hidden;
    background-color: #fff;
}

.itemImg>img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.itemImg span {
    position: absolute;
    left: 4px;
    top: 4px;
    display: inline-block;
    width: 20px;
    height: 20px;
    background-image: url(/img/user_img/item-uncheck.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
}

.itemImg a {
    position: absolute;
    right: 4px;
    bottom: 4px;
    z-index: 7;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 36px;
    height: 36px;
    background-color: #fff;
    border: 1px solid var(--grey-100);
}

.itemImg a:hover {
    background-color: var(--grey-50);
}

.itemTitles {
    display: flex;
    flex-direction: column;
    row-gap: 8px;
}

.itemTitles span {
    color: var(--grey-500);
    font-size: 14px;
    font-weight: 500;
    line-height: 100%;
    /* 14px */
}

.itemTitles p {
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 18px;
    font-weight: 700;
    line-height: 100%;
    /* 18px */
}

.checkItem {
    width: 100%;
    height: 100%;
    padding: 16px;
    border-radius: 8px;
    border: 1px solid var(--grey-100);
    /* background: var(--grey-50); */
    background-color: #fff;
    overflow: hidden;
    transition: background .2s;
}

.checkItem>p {
    width: 100%;
    margin-top: 17px;
    overflow: hidden;
    white-space: normal;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
    font-size: 14px;
    font-weight: 500;
    line-height: 140%;
    /* 19.6px */
    letter-spacing: -0.7px;
}

.rentalItemList li:hover .checkItem {
    background: rgba(3, 182, 53, 0.10);
}

.rentalItemList li input:checked+label+.checkItem {
    border: 2px solid #03B635;
    background: rgba(3, 182, 53, 0.10);
}

.rentalItemList li input:checked+label+.checkItem .itemImg span {
    background-image: url(/img/user_img/item-checked.png);
}

.rentalItemList li input:disabled+label+.checkItem {
    border: 1px solid var(--grey-grey-100, #DBDEE2);
    background: var(--grey-grey-50, #F3F5F6);
}

.rentalItemList li input:disabled+label+.checkItem .itemImg span {
    background-image: url(/img/user_img/item-dis.png);
}

.detailHead{
    grid-template-columns: 10% 25% 20% 15% 15% 15%;
}
.detailBody li{
    grid-template-columns: 10% 25% 20% 15% 15% 15%;
}

.equipDetails{
	position: absolute;
    right:-100%;
    top:0;
    width: 600px;
    background: #fff;
    height: 100%;
    transition: all .8s;
}
.equipDetails.active{
    right:0;
}
.detailsTop{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 60px;
    padding: 0 40px;
}
.detailsTop p{
	color: var(--TEXT, #242A30);
	font-family: SUIT;
	font-size: 20px;
	font-style: normal;
	font-weight: 700;
	line-height: 100%; /* 20px */
}
.detailsTop button{
	cursor: pointer;
}
.detailInfoContainer{
	width: 100%;
	height: calc(100% - 60px);
	overflow-y: auto;
}
.detailCard{
	width: 100%;
	padding: 20px 40px;
}
.detailCardInner{
	display: flex;
	width: 100%;
	padding: 20px 23px;
	justify-content: space-between;
	border-radius: 8px;
	border: 1px solid #F3F5F6;
}
.detailCardText .detailCate{
	color: var(--grey-500);
	font-size: 14px;
	font-weight: 500;
	line-height: 100%; /* 14px */
}
.detailCardText p{
	max-width: 228px;
	margin: 8px 0 17px 0;
	font-size: 18px;
	font-weight: 700;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
	line-height: 100%; /* 18px */
}
.detailCardText .detailDate{
	font-size: 14px;
	font-weight: 500;
	line-height: 140%; /* 19.6px */
	letter-spacing: -0.7px;
}
.detailCardImg{
	width: 159px;
	height: 95px;
}
.detailCardImg img{
	width: 100%;
	height: 100%;
	object-fit: cover;
}
.listButton.detail{
	padding: 12px 20px;
}


.detailCard.detailSub{
	position: absolute;
    top: 48px;
    right: 56px;
    width: 574px;
	padding: 0;
}
.detailCardInner.detailSub{
    background: #fff;
}
.detailCardInner.detailSub .detailCardImg{
	width: 292px;
	height: 189px;
}
.detailCardInner.detailSub .detailCardImg img{
	object-fit: contain;
}

.regTitle{
	margin-bottom: 12px;
	color: var(--TEXT, #242A30);
	font-size: 14px;
	font-weight: 700;
	line-height: 100%; /* 14px */
	letter-spacing: -0.7px;
}

.barcodeForm{
	width: 100%;
	height: 100%;
}
.barcodeContainer{
	width: 100%;
	padding: 16px;
	background: var(--grey-50);
	border-top: 1px solid var(--grey-100);
}
.listContainerInner{
    display: flex;
    column-gap: 40px;
    margin-bottom: 20px;
}
.listContainerInner .listWrapper{
	width: calc(50% - 20px);
    height: 753px;
}
.listContainerInner .listWrapper .listInner{
	height: 100%;
}
.wtButtonContainer{
	width: 100%;
    background: #fff;
    margin-top: 40px;
    padding: 24px 32px;
}
.wtButtonContainer .btnContainer{
	padding-top: 0;
}






.datailCardWrapper{
	position: fixed;
	top: 50%;
	left: 50%;
	display:block;
	transform: translate(-50%, -50%);
	padding: 20px;
	background-color: #fff;
	z-index : -1;
}
.datailCardWrapper.active{
	display:block;
}
.datailCardWrapper .detailCard{
	position: unset;
}